/* Write your CSS code here */

.home-container {
  width: 100%;
}
/*mobile view */
.home-body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 50px;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .home-body-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .home-content {
    width: 60%;
    align-items: flex-start;
  }
}
.home-heading {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #1e293b;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0px;
    align-self: flex-start;
  }
}
.home-mobile-img {
  width: 90%;
}
@media screen and (min-width: 768px) {
  .home-mobile-img {
    display: none;
  }
}
.home-desktop-img {
  width: 40%;
  height: 400px;
  padding-left: 40px;
}
@media scree and (max-width: 768px) {
  .home-desktop-img {
    display: none;
  }
}
.home-description {
  font-family: 'Roboto';
  margin-top: 36px;
  font-size: 14px;
  line-height: 28px;
  color: #64748b;
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .home-description {
    font-size: 20px;
    font-weight: 500;
    align-self: flex-start;
    margin-top: 0px;
  }
}

.shop-now-button {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #ffffff;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 6px;
  background-color: #0967d2;
  cursor: pointer;
  margin-top: 30px;
  width: 150px;
}
