/* Write your CSS code here */
.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* nav bar container */
.nav-bar-container {
  padding: 10px 20px 10px 30px;
  width: 100%;
}

/* nav bar mobile view container*/
.nav-bar-mobile-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav-bar-mobile-container {
    display: none;
  }
}
.website-logo {
  width: 90px;
  height: 40px;
}

.nav-mobile-btn {
  background-color: transparent;
  border: none;
}
.nav-bar-image {
  width: 30px;
  height: 30px;
}

/* mobile view nav*/
@media screen and (min-width: 767px) {
  .mobile-nav-menu {
    display: none;
  }
}

.mobile-nav-menu {
  width: 100%;
  padding: 5px 30px 5px 0px;
  background-color: #e6f6ff;
}
.mobile-nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

/*nav bar desktop container*/
@media screen and (min-width: 768px) {
  .nav-bar-container {
    padding: 40px 140px 20px 150px;
  }
}
.nav-bar-desktop-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .nav-bar-desktop-container {
    display: none;
  }
}
.nav-bar-desktop-container-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-menu-items-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
.nav-menu-item {
  margin-right: 30px;
}

@media screen and (min-width: 768px) {
  .website-logo {
    width: 150px;
    height: 80px;
  }
}

.nav-menu-item {
  font-size: 25px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #475569;
}

.logout-desktop-btn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #0967d2;
  border: none;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
}
